@import "tailwindcss";


@font-face {
    font-family: 'Saiyan-Sans';
    src: url('/fonts/saiyan/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saiyan-Sans-Left';
    src: url('/fonts/saiyan/Saiyan-Sans Left Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Saiyan-Sans-Right';
    src: url('/fonts/saiyan/Saiyan-Sans Right Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: oblique;
}

@keyframes audioBar {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.8);
    }
}

.animate-audio-bar {
    animation: audioBar 0.8s infinite ease-in-out;
    transform-origin: bottom;
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-spin-slow {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #00f, 0 0 20px #00f;
    }

    100% {
        text-shadow: 0 0 20px #0ff, 0 0 30px #0ff;
    }
}